/*VARIABLES*/
$lineNumDefaultBorder: 5px;


/* USE FOR HIDING SCROLLBAR
::-webkit-scrollbar {
width: 0px;
}
*/
html{
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* USE FOR HIDING SCROLLBAR
    overflow: scroll;
    overflow-x: hidden;
    */
}
body{
    background-color: rgb(73, 73, 73);
    margin: 0;
    padding: 0;
}


#clock{
    padding: 20px 0 20px 0;
    bottom: 10%;
    float: right;
    display: flex;
}
@media screen and (max-width: 2400px){
    #clock{
        left: 85%;
    }
}
@media screen and (max-width: 1980px){
    #clock{
        left: 82%;
    }
}
@media screen and (max-width: 1610px){
    #clock{
        left: 78%;
    }
}
@media screen and (max-width: 1320px){
    #clock{
        left: 74%;
    }
}
@media screen and (max-width: 1140px){
    #clock{
        left: 69%;
    }
}
@media screen and (max-width: 940px){
    #clock{
        left: 60%;
    }
}
@media screen and (max-width: 750px){
    #clock{
        left: 55%;
    }
}
@media screen and (max-width: 650px){
    #clock{
        left: 45%;
    }
}
/*.sticky{
    position: fixed;
    top: 0;
    width: 10%
}*/

.containerFromStop{
    width: 100%;

    .fromStop{
        display: flex;
        align-items: left;
        justify-content: left;
        color: white;
        font-size: 50px;
        text-align: center;
        padding: 40px;
    }
}

.timetable{
    color: black;
    font-size: 22px;
    margin: 10px 15px 0 15px;

    .depElement{
        background-color: rgb(209, 209, 209);
        padding: 15px;
        border-radius: 5px;
        border: solid 2px black;
    }
}

.line{
    border-radius: $lineNumDefaultBorder;
    text-align: center;
    color: white;
    padding: 10px;
    width: 3.5ch;
}

.line2{
    background-color: #ab8248;
}
.line6{
    background-color: #0069b4;
}
.Bus{
    background-color: grey;
    padding: 10px;
    width: 6.5ch;
}

a{
    text-decoration: none;
}
.goToTop{
    background: #198754;
    color: white;
    padding: .375rem .75rem;
    border-radius: .25rem;
    border: none;
    margin: 0 0 15px 15px;
    transition: background-color 200ms ease;

    &:hover{
        background-color: #157347;
        
    }
}